USE [master]
GO
/****** Object:  Database [Banking_System]    Script Date: 15.01.2026 23:31:09 ******/
CREATE DATABASE [Banking_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Banking_System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Banking_System.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Banking_System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Banking_System_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Banking_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Banking_System]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[accountid] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NULL,
	[accountnumber] [varchar](20) NULL,
	[accounttype] [varchar](50) NULL,
	[balance] [decimal](15, 2) NULL,
	[currency] [varchar](10) NULL,
	[status] [varchar](20) NULL,
	[branchid] [int] NULL,
	[createddate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[accountid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[accountnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[amlcases]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[amlcases](
	[caseid] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NULL,
	[casetype] [varchar](50) NULL,
	[investigatorid] [int] NULL,
	[openingdate] [date] NULL,
	[closingdate] [date] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[caseid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[billpayments]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[billpayments](
	[paymentid] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NULL,
	[billername] [varchar](100) NULL,
	[amount] [decimal](15, 2) NULL,
	[paymentdate] [date] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[paymentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[branches]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[branches](
	[branchid] [int] IDENTITY(1,1) NOT NULL,
	[branchname] [varchar](100) NULL,
	[address] [varchar](255) NULL,
	[city] [varchar](50) NULL,
	[country] [varchar](50) NULL,
	[phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[branchid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[claims]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[claims](
	[claimid] [int] IDENTITY(1,1) NOT NULL,
	[policyid] [int] NULL,
	[claimamount] [decimal](15, 2) NULL,
	[fileddate] [date] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[claimid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[creditcards]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[creditcards](
	[cardid] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NULL,
	[cardnumber] [varchar](20) NULL,
	[cardtype] [varchar](50) NULL,
	[expirydate] [date] NULL,
	[creditlimit] [decimal](15, 2) NULL,
	[currentbalance] [decimal](15, 2) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[cardid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cardnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[creditcardtrail]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[creditcardtrail](
	[trailid] [int] IDENTITY(1,1) NOT NULL,
	[cardid] [int] NULL,
	[merchantname] [varchar](100) NULL,
	[amount] [decimal](15, 2) NULL,
	[transactiondate] [datetime] NULL,
	[location] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[trailid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[creditscores]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[creditscores](
	[scoreid] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NULL,
	[creditscore] [int] NULL,
	[updatedat] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[scoreid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customerid] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [varchar](100) NULL,
	[dateofbirth] [date] NULL,
	[email] [varchar](100) NULL,
	[phonenumber] [varchar](20) NULL,
	[address] [varchar](255) NULL,
	[nationalid] [varchar](50) NULL,
	[annualincome] [decimal](15, 2) NULL,
	[createdat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[customerid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cybersecurityincidents]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cybersecurityincidents](
	[incidentid] [int] IDENTITY(1,1) NOT NULL,
	[affectedsystem] [varchar](100) NULL,
	[reporteddate] [datetime] NULL,
	[resolutionstatus] [varchar](50) NULL,
	[severitylevel] [varchar](20) NULL,
	[description] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[incidentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[debtcollection]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[debtcollection](
	[debtid] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NULL,
	[amountdue] [decimal](15, 2) NULL,
	[duedate] [date] NULL,
	[collectorassigned] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[debtid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[departmentid] [int] IDENTITY(1,1) NOT NULL,
	[departmentname] [varchar](100) NULL,
	[managerid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[departmentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employeeattendance]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employeeattendance](
	[attendanceid] [int] IDENTITY(1,1) NOT NULL,
	[employeeid] [int] NULL,
	[checkintime] [datetime] NULL,
	[checkouttime] [datetime] NULL,
	[totalhours] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[attendanceid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[employeeid] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [varchar](100) NULL,
	[position] [varchar](100) NULL,
	[department] [varchar](100) NULL,
	[hiredate] [date] NULL,
	[salary] [decimal](10, 2) NULL,
	[status] [varchar](20) NULL,
	[branchid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[employeeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[foreignexchange]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foreignexchange](
	[fxid] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NULL,
	[fromcurrency] [varchar](10) NULL,
	[tocurrency] [varchar](10) NULL,
	[exchangerate] [decimal](10, 4) NULL,
	[amountexchanged] [decimal](15, 2) NULL,
	[transactiondate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[fxid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[frauddetection]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[frauddetection](
	[fraudid] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NULL,
	[transactionid] [int] NULL,
	[fraudtype] [varchar](50) NULL,
	[detectiondate] [datetime] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[fraudid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[insurancepolicies]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[insurancepolicies](
	[policyid] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NULL,
	[insurancetype] [varchar](50) NULL,
	[premiumamount] [decimal](10, 2) NULL,
	[coverageamount] [decimal](15, 2) NULL,
	[startdate] [date] NULL,
	[enddate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[policyid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[investments]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[investments](
	[investmentid] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NULL,
	[investmenttype] [varchar](50) NULL,
	[amount] [decimal](15, 2) NULL,
	[maturitydate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[investmentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kyc]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kyc](
	[kycid] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NULL,
	[documenttype] [varchar](50) NULL,
	[documentnumber] [varchar](50) NULL,
	[verifiedby] [int] NULL,
	[verificationdate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[kycid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loanpayments]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loanpayments](
	[paymentid] [int] IDENTITY(1,1) NOT NULL,
	[loanid] [int] NULL,
	[amountpaid] [decimal](15, 2) NULL,
	[paymentdate] [date] NULL,
	[remainingbalance] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[paymentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loans]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loans](
	[loanid] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NULL,
	[loantype] [varchar](50) NULL,
	[amount] [decimal](15, 2) NULL,
	[interestrate] [decimal](5, 2) NULL,
	[startdate] [date] NULL,
	[enddate] [date] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[loanid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[merchants]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[merchants](
	[merchantid] [int] IDENTITY(1,1) NOT NULL,
	[merchantname] [varchar](100) NULL,
	[industry] [varchar](100) NULL,
	[location] [varchar](255) NULL,
	[customerid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[merchantid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[merchanttrail]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[merchanttrail](
	[merchanttrailid] [int] IDENTITY(1,1) NOT NULL,
	[merchantid] [int] NULL,
	[transactionid] [int] NULL,
	[paymentmethod] [varchar](50) NULL,
	[transactiondate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[merchanttrailid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mobilebanking]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mobilebanking](
	[mobilebankingid] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NULL,
	[deviceid] [varchar](100) NULL,
	[appversion] [varchar](20) NULL,
	[lastactive] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[mobilebankingid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[onlinebanking]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[onlinebanking](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NULL,
	[username] [varchar](50) NULL,
	[passwordhash] [varchar](255) NULL,
	[lastlogin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regulatoryreports]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regulatoryreports](
	[reportid] [int] IDENTITY(1,1) NOT NULL,
	[reporttype] [varchar](100) NULL,
	[submissiondate] [date] NULL,
	[status] [varchar](50) NULL,
	[submittedby] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[reportid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salaries]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salaries](
	[salaryid] [int] IDENTITY(1,1) NOT NULL,
	[employeeid] [int] NULL,
	[basesalary] [decimal](10, 2) NULL,
	[bonus] [decimal](10, 2) NULL,
	[deductions] [decimal](10, 2) NULL,
	[paymentdate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[salaryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stocktrading]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stocktrading](
	[tradeid] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NULL,
	[stocksymbol] [varchar](10) NULL,
	[quantity] [int] NULL,
	[price] [decimal](10, 2) NULL,
	[tradedate] [datetime] NULL,
	[tradetype] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[tradeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[transactionid] [int] IDENTITY(1,1) NOT NULL,
	[accountid] [int] NULL,
	[transactiontype] [varchar](50) NULL,
	[amount] [decimal](15, 2) NULL,
	[currency] [varchar](10) NULL,
	[transactiondate] [datetime] NULL,
	[status] [varchar](20) NULL,
	[referenceno] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[transactionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[useraccesslog]    Script Date: 15.01.2026 23:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[useraccesslog](
	[logid] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[actiontype] [varchar](50) NULL,
	[timestamp] [datetime] NULL,
	[ipaddress] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[logid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_accounts_customer]    Script Date: 15.01.2026 23:31:09 ******/
CREATE NONCLUSTERED INDEX [idx_accounts_customer] ON [dbo].[accounts]
(
	[customerid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_customers_name]    Script Date: 15.01.2026 23:31:09 ******/
CREATE NONCLUSTERED INDEX [idx_customers_name] ON [dbo].[customers]
(
	[fullname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_loans_customer]    Script Date: 15.01.2026 23:31:09 ******/
CREATE NONCLUSTERED INDEX [idx_loans_customer] ON [dbo].[loans]
(
	[customerid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_transactions_account]    Script Date: 15.01.2026 23:31:09 ******/
CREATE NONCLUSTERED INDEX [idx_transactions_account] ON [dbo].[transactions]
(
	[accountid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (getdate()) FOR [createdat]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (getdate()) FOR [transactiondate]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD FOREIGN KEY([branchid])
REFERENCES [dbo].[branches] ([branchid])
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[customers] ([customerid])
GO
ALTER TABLE [dbo].[amlcases]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[customers] ([customerid])
GO
ALTER TABLE [dbo].[amlcases]  WITH CHECK ADD FOREIGN KEY([investigatorid])
REFERENCES [dbo].[employees] ([employeeid])
GO
ALTER TABLE [dbo].[billpayments]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[customers] ([customerid])
GO
ALTER TABLE [dbo].[claims]  WITH CHECK ADD FOREIGN KEY([policyid])
REFERENCES [dbo].[insurancepolicies] ([policyid])
GO
ALTER TABLE [dbo].[creditcards]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[customers] ([customerid])
GO
ALTER TABLE [dbo].[creditcardtrail]  WITH CHECK ADD FOREIGN KEY([cardid])
REFERENCES [dbo].[creditcards] ([cardid])
GO
ALTER TABLE [dbo].[creditscores]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[customers] ([customerid])
GO
ALTER TABLE [dbo].[debtcollection]  WITH CHECK ADD FOREIGN KEY([collectorassigned])
REFERENCES [dbo].[employees] ([employeeid])
GO
ALTER TABLE [dbo].[debtcollection]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[customers] ([customerid])
GO
ALTER TABLE [dbo].[departments]  WITH CHECK ADD FOREIGN KEY([managerid])
REFERENCES [dbo].[employees] ([employeeid])
GO
ALTER TABLE [dbo].[employeeattendance]  WITH CHECK ADD FOREIGN KEY([employeeid])
REFERENCES [dbo].[employees] ([employeeid])
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD FOREIGN KEY([branchid])
REFERENCES [dbo].[branches] ([branchid])
GO
ALTER TABLE [dbo].[foreignexchange]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[customers] ([customerid])
GO
ALTER TABLE [dbo].[frauddetection]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[customers] ([customerid])
GO
ALTER TABLE [dbo].[frauddetection]  WITH CHECK ADD FOREIGN KEY([transactionid])
REFERENCES [dbo].[transactions] ([transactionid])
GO
ALTER TABLE [dbo].[insurancepolicies]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[customers] ([customerid])
GO
ALTER TABLE [dbo].[investments]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[customers] ([customerid])
GO
ALTER TABLE [dbo].[kyc]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[customers] ([customerid])
GO
ALTER TABLE [dbo].[kyc]  WITH CHECK ADD FOREIGN KEY([verifiedby])
REFERENCES [dbo].[employees] ([employeeid])
GO
ALTER TABLE [dbo].[loanpayments]  WITH CHECK ADD FOREIGN KEY([loanid])
REFERENCES [dbo].[loans] ([loanid])
GO
ALTER TABLE [dbo].[loans]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[customers] ([customerid])
GO
ALTER TABLE [dbo].[merchants]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[customers] ([customerid])
GO
ALTER TABLE [dbo].[merchanttrail]  WITH CHECK ADD FOREIGN KEY([merchantid])
REFERENCES [dbo].[merchants] ([merchantid])
GO
ALTER TABLE [dbo].[merchanttrail]  WITH CHECK ADD FOREIGN KEY([transactionid])
REFERENCES [dbo].[transactions] ([transactionid])
GO
ALTER TABLE [dbo].[mobilebanking]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[customers] ([customerid])
GO
ALTER TABLE [dbo].[onlinebanking]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[customers] ([customerid])
GO
ALTER TABLE [dbo].[regulatoryreports]  WITH CHECK ADD FOREIGN KEY([submittedby])
REFERENCES [dbo].[employees] ([employeeid])
GO
ALTER TABLE [dbo].[salaries]  WITH CHECK ADD FOREIGN KEY([employeeid])
REFERENCES [dbo].[employees] ([employeeid])
GO
ALTER TABLE [dbo].[stocktrading]  WITH CHECK ADD FOREIGN KEY([customerid])
REFERENCES [dbo].[customers] ([customerid])
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD FOREIGN KEY([accountid])
REFERENCES [dbo].[accounts] ([accountid])
GO
USE [master]
GO
